# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
doc/
docs/
tests/
ipch/
.vs/
libs/freetype-2.12.1/builds
*.tlog
*.log
*.ilk
*.exe
*.idb
*.pdb
*.md
*.list
*.inl
*.yml
*.db*
*.vsidx
*read.lock
*.opendb
*.ipch
*.ipch
*README*
*MAIN.ipch
*WINDOW.ipch
*.ipch
